.background {
  viewport-fill: black;
}

#demotext {
  fill: fb-cyan;
  font-size: 32;
  font-family: System-Regular;
  font-weight: bold;
  text-anchor: middle;
  text-length: 99;
}

.application-fill           { fill: pink; }
.foreground-fill            { fill: white; }
.background-fill            { fill: black; }

#button-yes #text {
  text-buffer: "Therapist";
}
#button-yes #image {
  href: "call-male.png";
}

#button-no #text {
  text-buffer: "Ignore";
}
#button-no #image {
  href: "call-disconnected.png";
}
